body {
    margin: 60px auto;
    /* width: 70%; */
    background-image: url("https://trevorColby.github.io/media/homepage/pictures/HopPhoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
    background-attachment: fixed;
}


/* main container for text area ********************/
#textBox {
 background-color: rgba(64,64,64,.75);
 border-color: rgb(64,64,64);
 border-radius: 25px;
 border-width: 10px;
 height: 230px;
}


/* all nav bar css *******************************/
nav {
    top: 9px;
    height: 25px;
}

nav ul {
    position: relative;
    top: 9px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin-left: 20px;
    height: 25px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a { 
    text-decoration: none;
    color: #999;
}

nav ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* all text box body content *********************************/

/* hyperlink to vision statement */
p a[href="/about"]{
    text-decoration: none;
    color: #ffffff;
}

p a[href="/about"]:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* page title */
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #ffffff;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
}

/* main message */ 
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: rgb(230, 230, 230);
    margin-left: 10px;
}


/* ul.posts { */ 
/*     margin: 20px auto 40px; */ 
/*     font-size: 1.5em; */
/* } */

/* ul.posts li { */
/*     list-style: none; */
/* } */

/* All CSS For Footer *************************************/

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 5px;
    height: 20px;

}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    text-decoration: none;
    color: #999;
    /* margin-left: 10px; */
}

footer ul li a:hover {
    color: #ffffff;
}

/* sticky class to add when txtbox hits top */

.sticky {
    position: fixed;
    top: 0;
    width:70%;
    height: 230px;
}

.sticky + .starWarsContainer{
	  padding-top: 250px;
}


/*css for the start wars style scrolling paragraphs **********************/
.starWarsContainer {
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 48px;
}

.starWarsBar p {
	color: #ffffff;
}
