body {
    margin: 60px auto;
    width: 70%;
    background-image: url("https://trevorColby.github.io/media/homepage/pictures/HopPhoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    background-color: #333;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    /* float: left; */
}

footer ul li{
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
/* #navigation{ */
/*     background-color: #fff */
/* } */
a:hover {
    text-decoration: underline;
    background-color: #111;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #ffffff;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

