.carousel {
  padding: 20px;
  /* -webkit-perspective: 500px !important; */
  -webkit-perspective: 1000px !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel > * {
  flex: 0 0 auto;
}
/* .carousel figure { */
.carousel #fig {
  margin: 0;
  width: 60%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
/* .carousel figure .cImg { */
.carousel #fig .cImg {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0px;
  opacity: .9;
  transition: opacity 1s, transform 1s;
}
/* .carousel figure .cImg:not(:first-of-type) { */
.carousel #fig .cImg:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}
.carousel nav {
  display: flex;
  justify-content: center;
  margin: 10px 0 0;
  z-index: 1;
}
.carousel nav button {
  flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: #333;
  background: none;
  border: 1px solid;
  letter-spacing: 1px;
  padding: 5px 10px;
}

